body {
  text-align: center;
}
h1,
h2 {
  color: #03312e;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  background-color: #009f93;
}

p {
  font-size: large;
}

span {
  color: #03312e;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
}
